.navbar-brand span {
    font-family: 'Brush Script MT', cursive;
    font-size: 45px;
    color: red;
}

.hero-section {
    background: url('images/suppliers.jpg') center/cover no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-overlay {
    background: rgba(55, 54, 54, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.search-box select,
.search-box button {
    height: 50px;
    border-radius: 6px;
}

.category-section {
    padding: 3rem 0;
}

.category-section h4 {
    margin-bottom: 1rem;
}